dist/*

*.js.map

*.min.js
*.conf.js

*.png
*.puml

**/Dockerfile
**/Jenkinsfile

**/.dockerignore
**/.gitignore
**/.prettierignore
**/.eslintignore
**/bitbucket-pipelines.yml

coverage*/*

.husky/*

**/*.env